# Getting Started with SPARK and PySPARK

In [1]:
spark

## Read some `data` from Amazon S3

In [2]:
data_set = 's3://fcc-spark-example/dataset/diamonds.csv'

In [3]:
df = (spark 
        .read 
        .format("csv") 
        .option("header", "true") 
        .load(data_set)
     )

In [4]:
df.show(10)

+-----+---------+-----+-------+-----+-----+-----+----+----+----+
|carat|      cut|color|clarity|depth|table|price|   x|   y|   z|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
| 0.23|    Ideal|    E|    SI2| 61.5|   55|  326|3.95|3.98|2.43|
| 0.21|  Premium|    E|    SI1| 59.8|   61|  326|3.89|3.84|2.31|
| 0.23|     Good|    E|    VS1| 56.9|   65|  327|4.05|4.07|2.31|
| 0.29|  Premium|    I|    VS2| 62.4|   58|  334| 4.2|4.23|2.63|
| 0.31|     Good|    J|    SI2| 63.3|   58|  335|4.34|4.35|2.75|
| 0.24|Very Good|    J|   VVS2| 62.8|   57|  336|3.94|3.96|2.48|
| 0.24|Very Good|    I|   VVS1| 62.3|   57|  336|3.95|3.98|2.47|
| 0.26|Very Good|    H|    SI1| 61.9|   55|  337|4.07|4.11|2.53|
| 0.22|     Fair|    E|    VS2| 65.1|   61|  337|3.87|3.78|2.49|
| 0.23|Very Good|    H|    VS1| 59.4|   61|  338|   4|4.05|2.39|
+-----+---------+-----+-------+-----+-----+-----+----+----+----+
only showing top 10 rows

## Find the `average price` by color

In [5]:
import pyspark.sql.functions as F

result_df = df.select("color", "price") \
                .groupBy("color") \
                .agg(F.avg("price")) \
                .sort("color")

In [6]:
result_df.show()

+-----+------------------+
|color|        avg(price)|
+-----+------------------+
|    D|3169.9540959409596|
|    E|3076.7524752475247|
|    F| 3724.886396981765|
|    G| 3999.135671271697|
|    H| 4486.669195568401|
|    I| 5091.874953891553|
|    J|  5323.81801994302|
+-----+------------------+